<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./public/css/dist/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body class='vbox viewport'>
    <header class='my-container'>
        
    </header>
    <section class="main hbox space-between whitespace">
        <nav class='my-container'>
        
        </nav>
        <article class='my-container d-flex flex-row flex-wrap'>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">direction</h5>
                    <a href="/direction" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">align_content</h5>
                    <a href="/align_content" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">align_items</h5>
                    <a href="/align_items" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">align_self</h5>
                    <a href="/align_self" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">auto_margins</h5>
                    <a href="/auto_margins" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">fill</h5>
                    <a href="/fill" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">grow_shrink</h5>
                    <a href="/grow_shrink" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">justify_content</h5>
                    <a href="/justify_content" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">order</h5>
                    <a href="/order" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
            <div class="my-container no-padding-margin card" style="width: 20rem;height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">wrap</h5>
                    <a href="/wrap" class="btn btn-primary"><i class="fa fa-rocket"></i></a>
                </div>
            </div>
        </article>
        <aside class='my-container'>
        
        </aside>
    </section>
    <footer class='my-container'>
        
    </footer>

    <script type="text/javascript" src="./public/js/app.js"></script>
</body>
</html>