<?xml version="1.0" encoding="utf-8"?>
    <configuration>
    <appSettings>
        <add key="accountEndpoint" value="https://vsccreatedaccountdpm.documents.azure.com:443/" />    <!--cosmos db connection string need to be capture.-->
        <add key="accountKey" value="9lPcYMK56uKxgJWoV4zoLiPoTOkBj2lgqynL1VBkG5Lv2AMFUUGeTXpBkVzJVzi9bYQzQWsvG5M6HFqY2pefIA==" />
    </appSettings>
</configuration>