<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="./public/css/style.css">
  </head>
  <body>
    <%-
      barChartHelper.getBarChart({
        data: data,
        width: 800,
        height: 600,
        xAxisLabel: '2012',
        yAxisLabel: 'Views',
        containerId: 'bar-chart-large'
      })
    %>
  </body>
</html>
