<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
    <title>intermodal</title>
    <link rel="stylesheet" type="text/css" href="./public/css/dist/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src='https://d3js.org/d3.v5.js'></script>
</head>
<body class='vbox viewport'>
    <header class='my-container'>
        
    </header>
    <section class="main hbox space-between whitespace">
        <nav class='my-container'>
        
        </nav>
        <article class='my-container'>
            main-axis: row
            <div class="my-container no-padding-margin d-flex flex-row">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            main-axis: row-reverse
            <div class="my-container no-padding-margin d-flex flex-row-reverse">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            main-axis: column
            <div class="my-container no-padding-margin d-flex flex-column">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            main-axis: column-reverse
            <div class="my-container no-padding-margin d-flex flex-column-reverse">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            justify-content: start
            <div class="my-container no-padding-margin d-flex justify-content-start">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            justify-content: end
            <div class="my-container no-padding-margin d-flex justify-content-end">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            justify-content: center
            <div class="my-container no-padding-margin d-flex justify-content-center">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            justify-content: between
            <div class="my-container no-padding-margin d-flex justify-content-between">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
            justify-content: around
            <div class="my-container no-padding-margin d-flex justify-content-around">
                <div class="">Flex item 1</div>
                <div class="">Flex item 2</div>
                <div class="">Flex item 3</div>
            </div>
        </article>
        <aside class='my-container'>
        
        </aside>
    </section>
    <footer class='my-container'>
        
    </footer>

    <script type="text/javascript" src="./public/js/app.js"></script>
</body>
</html>