<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./public/css/dist/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body class='vbox viewport'>
    <header>top</header>
    <section class="main hbox space-between whitespace">
      <nav>nav</nav>
      <article>article</article>
      <aside>aside</aside>
    </section>
    <footer>footer</footer>
    <script type="text/javascript" src="./public/js/app.js"></script>
</body>
</html>